# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment
.env
*.env.local

# Compiled
*.class
*.jar
*.war
*.ear

# Package files
*.tar.gz
*.rar
*.zip

# Spring Boot
application-local.yml
application-dev.yml
